.home-container {
    background-color: #730c26;
    height: 600px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.light-text-color {
    color: #ffffff;
    opacity: 0.9;
}

.dark-text-color {
    color: #730c26;
}